body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: 0;
    position: relative;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
button.btn {
    width: 300px;
    padding: 10px 25px;
    font: 16px "Teko";
    color: #ff0000;
    background: #fff;
    border: none;
    border: 2px solid #000;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}
button.btn:hover {
    color: #fff;
    background: #000;
}

img {
    width: 100%; height: 100%;
}



header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #000;
}
header .logo {
    display: inline-block;
    width: 300px;
    margin-top: 10px;
}
header .logo img {
    width: 100%; height: 100%;
}
header nav {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin-left: 100px;
}
nav .menu {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
nav .menu li {
    text-align: center;
    display: inline-block;
}
nav .menu li a {
    display: inline-block;
    width: 80px;
    padding: 20px;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #000;
    box-shadow: rgba(0,0,0,0.3) 3px 0 15px;
    transition: 0.3s;
}
nav .menu > li > a:hover {
    background: #ff0000;
}
nav .menu > li:nth-of-type(2) {
    position: relative;
}
nav .menu > li:nth-of-type(2):hover .menu-matches {
    opacity: 1;
    pointer-events: auto;
}
nav .menu-matches {
    text-align: center;
    width: 240px;
    position: absolute; left: 0;
    padding-left: 0;
    /*padding-top: 4px;*/
    /*margin-top: 2px;*/
    background: #000;
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
}
nav .menu-matches li {
    display: block;
    width: 100%;
    transition: 0.3s;
}
nav .menu-matches li a {
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    border: none;
    border-bottom: 2px #fff solid;
}
nav .menu-matches li:hover {
    background: #ff0000;
}

.main {
    height: 400px;
    padding-top: 300px;
    background: url('../img/main_bg.jpg') no-repeat;
    background-size: cover;
}
.main h1 {
    text-align: center;
    font: 100px "Teko";
    color: #fff;
    -webkit-text-stroke: 3px rgba(0,0,0,0.8);
    text-transform: uppercase;
    user-select: none;
}

section {
    padding: 120px 0 60px;
    /*height: 500px;*/
}
h2 {
    font: 80px "Teko";
    line-height: 0.7;
    margin: 0;
    color: #ff0000;
    text-transform: uppercase;
}
.pic-wrap {
    display: inline-block;
    width: 40%;
    padding: 40px 40px 100px 0;
    position: relative;
}
.wrap {
    display: inline-block;
    width: 40%;
    padding: 30px;
    margin: 0 60px 0 0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}


.history {
    background: #eee;
}
.history .wrap {
    float: right;
}
.history .pic-wrap img:nth-child(1) {
    width: 120%; height: auto;
}
.history .pic-wrap .parallax {
    position: absolute; top: 150px; left: 60px;
}
.history .pic-wrap .parallax img {
    width: 80%; height: auto;
}

.last-win {
    height: 800px;
    padding: 60px 0;
}
.last-win .wrap {
    vertical-align: top;
    margin-left: 40px;
    margin-top: 120px;
}
.last-win .pic-wrap {
    position: relative;
}
.last-win .pic-wrap:before {
    content: '';
    position: absolute; top: 85px; left: 160px;
    width: 80px; height: 80px;
    background: url("../img/ball.png") no-repeat;
    background-size: contain;
    z-index: 3;
}
.last-win .pic-wrap .parallax {
    position: absolute; top: 150px; left: 60px;
    z-index: 2;
}
.last-win .pic-wrap .parallax img {
    width: 80%; height: auto;
}
.last-win .pic-wrap img:nth-child(2) {
    position: relative; top: -140px; right: -86px;
}




footer {
    padding: 60px 0 30px;
    background: #eee;
    border-top: 3px solid #000;
}
footer h2 {
    text-align: center;
}
footer .logo img {
    width: 100%; height: 100%;
}
footer .footer-wrap {
    text-align: center;
    display: block;
    width: fit-content;
    margin: 40px auto 0;
}
footer .logo {
    display: inline-block;
    width: 10%;
}
footer .txt {
    display: inline-block;
    vertical-align: top;
}



.news-bg {
    height: 300px;
    background: url("../img/news_bg.jpg") top center fixed no-repeat;
    background-size: cover;
}
.news-main h2 {
    text-align: center;
    margin-bottom: 40px;
}
.news-main .item {
    width: 80%;
    padding: 30px 30px 50px;
    margin: 0 auto 40px;
    background: #eee;
    border: 2px dashed #000;
    overflow: hidden;
    position: relative;
}
.news-main .item .pic {
    vertical-align: top;
    display: inline-block;
    width: 300px; height: 240px;
    margin-top: 30px;
}
.news-main .item .pic img {
    border: 2px solid #ff0000;
    border-radius: 4px;
}
.news-main .item .txt {
    display: inline-block;
    width: calc(100% - 400px); height: 240px;
    margin-left: 40px;
    overflow: hidden;
}
.news-main .item.opened .txt {
    height: auto;
}
.news-main .item .txt h3 {
    margin: 0;
    font: 36px "Teko";
    letter-spacing: 2px;
}
.news-main .item .txt h4 {
    margin: 0;
    color: #ff0000;
}
.news-main .item .more {
    display: block;
    position: absolute; bottom: 20px; right: 40px;
    font: 20px "Teko";
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
.news-main .item .more:hover {
    color: #ff0000;
}